@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #dbdcdc;
}
/* Thumb */
::-webkit-scrollbar-thumb {
  background: #3a86ff;
}
/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0062ff;
}
body {
  scroll-behavior: smooth;
}
#store-logo {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -3.5px;
}
header.main-header {
  transform: translateY(-100%);
  visibility: hidden;
}
header.main-header.active {
  animation: clear 0.3s ease-in-out forwards;
}
nav.nav-bar {
  transform: translateY(-100%);
}
nav.nav-bar.active {
  animation: clear 0.8s ease-in-out forwards;
}
#top-loader-container {
  position: relative;
  width: 100%;
  height: 3px;
}
#top-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  animation: loadingAnimation 3.5s ease-in infinite;
  transition: width 0.8s ease-in-out, height 0.8s ease;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.childAccordion {
  transition: visibility 0.15s linear, opacity 0.15s linear;
}
.carousel-track {
  transition: transform 0.5s ease-in-out;
}
.fade-carosel {
  background: linear-gradient(-180deg, rgba(234, 237, 237, 0), #2d3142);
}
.product-card-title {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-card-skeleton .skeleton-loading-price {
  position: relative;
  overflow: hidden;
  background-color: #fb5607;
}
.cart-items-container > hr.horizontal-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.cart-items-container > hr.horizontal-line:last-child {
  border: 0;
  height: 1px;
  background-image: none;
}
.product-card-skeleton .skeleton-loading {
  position: relative;
  overflow: hidden;
  background-color: #c4c5c5;
}
.product-card-skeleton .skeleton-loading::after,
.product-card-skeleton .skeleton-loading-price::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  background: linear-gradient(to left, transparent, #e8e8e8, transparent);
  animation: wave-cards 1s linear infinite;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (hover: hover) {
  .next-btn:hover,
  .prev-btn:hover {
    @apply hover:text-primary;
  }
  .carousel-container:hover .next-btn,
  .carousel-container:hover .prev-btn {
    visibility: visible;
    opacity: 1;
  }
  .product-card-container:hover .product-card-button {
    visibility: visible;
  }
}
@keyframes clear {
  to {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
}
@keyframes wave-cards {
  100% {
    transform: translateX(100%);
  }
}
@keyframes loadingAnimation {
  0% {
    height: 100%;
    width: 0%;
  }
  50% {
    width: 50%;
  }
  99% {
    height: 100%;
  }
  100% {
    height: 0%;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  #store-logo {
    font-size: 50px;
  }
  .product-card-button {
    visibility: hidden;
  }
  .next-btn,
  .prev-btn {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear, visibility 0.3s linear;
  }
}

@layer components {
  .main-container {
    @apply min-h-[90vh];
  }
  .side-space {
    @apply mx-[2%];
  }
}
